* {
    margin: 0;
    padding: 0;
}

/* ở đây mi chưa có withd với height bị cưng
height ri cũng được.
 */
.wrapper {
    max-width: 1520px;
    /* đừng làm cứng như ri*/
    width: 100%;
    margin: 0 auto;
    height: 70px;
    background-color: black;
}


/* trong trường hợp ni là sai rồi thằng ni đang chưa 1 item. mà cái div lại là phần cha của item. nó đại diện luôn cho kích thước của cái icon card nớ. nếu muốn tạo thêm 
1 cái như khi nãy, thì phải tạo thêm 1 div. nhưng trong trường hợp 1 row chỉ có đơn giản như ri., thì k cần, chỉ cần 2 div như này, rồi css */

/* ở cái div top ni. chỉ có 1 cái duy nhất là cái icon, hắn k phức tạp. nên chỉ cần set 1 div cha to. 100%*/
/* Sau đó ở div con. là cái icon ấy. thì css nó đúng kích thước là được rồi. hắn tự động responsive */
/* Hiện tại hắn đã tự động respon về màn hình table rồi, còn phía mobile chỉ cần chỉnh lại tí nữa. là nhanh hơn */
/*chừ hắn đang chạy bậy bạ, là do mi k set div tổng thể, cái ni là bữa lâu tao có nói tới vụ ni rồi. nên nhớ lại chưa ?  cái vụ mà wapper á. à ok*/
/* khi chuyển mà hình  hắn đã chạy bậy bạ do mihf k cố định, K có thẻ cha. */
.container-top {
    padding: 0;
    margin: 0;
    height: 100%;
    /* 2 cái ni thừa hưởng lại thuộc tính chiều cao với rộng của thằng cha */
    width: 30%;
    margin-left: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* #carticon {
    width: 6%;
} */

.cart {
    color: white;
    padding-top: 10px;
    /* float: right;  cái thằng ni á là dùng cho nhiều vị trí. nhưng nếu có thêm 1 vài cái div nữa. là hắn sẽ bị đẩy đi bậy bạ */

    text-align: center;

}

.cart a:link,
.cart a:visited {
    color: white;
    text-decoration: none;
}

.logo {
    margin-top: 45px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: solid 1px rgb(206, 210, 216);
}

.logo a:link,
.logo a:visited {
    color: black;
    text-decoration: none;
}

#menuleft {
    width: 70%;
    height: 70px;
    float: left;
}

#menuright {
    width: 30%;
    height: 70px;
    float: left;
}

#menuleft ul li {
    float: left;
    padding-left: 40px;
    list-style: none;
    font-size: 20px;
    padding-top: 25px;
}

#menuleft ul li a {
    text-decoration: none;
    color: black;
}

#menuleft ul li a:hover {
    color: grey;
}

#menuright {
    padding-top: 25px;
}

#textsearch {
    padding: 7px;
}

.banner img {
    width: 100%;
}

.contentbestsale {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.bestsale {
    height: 350px;
}

.product-content {
    text-align: center;
    border: solid 1px rgb(206, 212, 209);
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    padding: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    line-height: 27px;
    margin-top: 50px;
    margin-left: 50px;
}

.product-content a {
    text-decoration: none;
    color: black;
}

.info-product :hover {
    color: rgb(221, 27, 43);
}

.text-product :hover {
    color: rgb(221, 180, 44);
}

.infomation {
    float: left;
    width: 25%;
    height: auto;
    text-align: left;
    margin-bottom: 20px;
}

.infomation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.infomation ul li a {
    text-decoration: none;
    color: grey;
}

span.icon-social {
    display: inline-block;
    width: 34px;
    height: 34px;
}

#facebook {
    background: url(image/s-icons.png);
    background-position: 0 0;
}

#twitter {
    background: url(image/s-icons.png);
    background-position: 68px 0;
}

#google {
    background: url(image/s-icons.png);
    background-position: 136px 0;
}

.text-infomation {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 12px;

}

.infomation ul li a :hover {
    color: rgb(104, 104, 218);
}

.partition {
    width: 100%;
    margin-bottom: 50px;
}

.footer {
    width: 50%;
    float: left;

}

#footer-left {
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.content-footer-left {
    padding: 10px;
    width: 40%;
    font-size: 11px;
    border: solid 1px;
    margin-right: 5px;
}

.btn-submit {
    padding: 10px 25px;
    font-size: 11px;
    border: solid 1px;
    background-color: white;
}



/* laptop: width < 1024px */
@media only screen and (max-width: 1440px) {
    

    .contentbestsale {
        margin-top: 50px;
        width: 334px;
    }
    .product-content{
        width: 100px;
    }
    #menuright {
        display: inline;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px){
    .contentbestsale {
        margin: 30px 20px 0 40px;
    }
    .product-content{
        width: 100px;
    }
    #img-best-sale3{
        display: none;
    }
    #product-8, #product-7{
        display: none;
    }
}

/* tablet: width < 768px */
@media only screen and (max-width: 768px) {
    #menuleft {
        width: 100%;
    }

    #menuright {
        display: none;
    }

    .bestsale {
        margin: 0 0 0 85px;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 425px) {}
/* .bestsale {
    margin: 0px -50px 0 -168px;
} */